.columnList{
  display: inline-block;
  height: 100vh;
  width: 15vw;
  clear: none;
  float: left;
  border-right: 1px solid #CCC;
}

.columnList h2 {
  padding: 10px;
}

.columnList .addButton{
  display: none;
}

.columnList:hover .addButton{
  display: block;
}

.addButton{
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
}

.addButton:hover{
  background-color: #efefef;
}
